body{
    margin: 0;
    padding: 0;
}
.container{
    padding-top: 15%;
}
h1 a:hover{
  text-decoration: none;
}
.dropdown-container{
    padding: 10px;
}
.about-para{
    padding: inherit;
    margin: 2%;
    font-size: 1.5em;
    
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height : 50px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px ;
  }

  .fa:hover {
    background-color: yellow;
    transform: scale(1.8);
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
.fa-github{
    background: #333;
    color: white;
}  
